a:link {
    text-decoration: none;
    color: white;
    margin-left: 10px;
}

a:visited {
    color: white;
}

img {
    width: 70%;
    display: block;
    position: absolute;
    top: 10px
}

.mat-card {
    margin: 50px;
    width: 500px;
}

#numero {
    position: absolute;
    top: 190px;
}

button {
    margin-left: 50px;
}

mat-icon{
    margin-left:5px;
}

mat-icon:hover{
    cursor:pointer;
}