<ng-container *ngIf="pokemon">
    <mat-card>
        <mat-grid-list cols="2">
            <mat-grid-tile>
                <img src="assets/img/official-artwork/{{pokemon.id}}.png">
                <span id="numero">No. {{pokemon.id | number: '3.0-0'}}</span>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-list>
                    <mat-list-item>
                        <p>{{pokemon.name}}</p>
                        <audio autoplay id="audio">
                            <source src="assets/audio/{{pokemon.id}}.mp3">
                        </audio>
                        <a href="#" onClick="document.getElementById('audio').play(); return false;">
                            <mat-icon id="audio">play_circle_outline</mat-icon>
                        </a>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-chip-list>
                            <mat-chip *ngFor="let type of pokemon.types">
                                {{type}}
                            </mat-chip>
                        </mat-chip-list>
                    </mat-list-item>
                    <mat-list-item>
                        <p>Taille : {{pokemon.height | number: '1.1-1'}} m</p>
                    </mat-list-item>
                    <mat-list-item>
                        <p>Poids : {{pokemon.weight | number: '1.1-1'}} kg</p>
                    </mat-list-item>
                </mat-list>
            </mat-grid-tile>
        </mat-grid-list>
        <div>
            {{pokemon.description}}
        </div>
    </mat-card>
    <button class="clear" (click)="goBack()">Retour</button>
</ng-container>